{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="container">
        <form action="/history" method="post">
            <table class="table table-striped">
                <thead>
                    <th>Item(s)</th>
                    <th>Price</th>
                    <th>Seller</th>
                    <th>Contact</th>
                    <th>Time</th>
                </thead>

                <tbody>


                    {% for post in search %}
                    <tr>
                        <td>{{ post.item }}</td>
                        <td>{{post.price | usd}}</td>
                        <td>{{post.seller}}</td>
                        <td>{{post.contact}}</td>
                        <td>{{post.time}}</td>
                    </tr>
                    {% endfor %}



                </tbody>
            </table>
        </form>
    </div>
{% endblock %}
