{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <p></p>
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Item Name" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="description" placeholder="Description" type="text">
            <input class="form-control" name="price" placeholder="Price" type="text">

        </div>
        <div class="form-group">
            <select class="form-control" name="category">
                <option disabled selected value>Category</option>
                <option value="textbook">Textbook</option>
                <option value="clothes">Clothes</option>
                <option value="electronics/computers">Electronics/Computers</option>
                <option value="bags and luggage">Bags and Luggage</option>
                <option value="bicycles/scooters">Bicycles/Scooters</option>
                <option value="furniture">Furniture</option>
                <option value="dorm supplies">Dorm Supplies</option>
                <option value="video games">Video Games</option>
                <option value="other">Other</option>
            </select>
        </div>
        <form action="/action_page.php">
          <input type="file" name="pic" accept="image/*">
          <input type="submit">
        </form>

        <button class="btn btn-primary" type="submit">Post</button>
    </form>
{% endblock %}
